body, html {
    background-color: #1E1E1E;
    width: 100dvw;
    height: 100dvh;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}
h1 {
    color: #fff;
    text-shadow: #fff 2px 2px 4px;
}
#r {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    gap: 150px;
    padding-top: 50px;
}
a img {
    width: 80px;
    border-radius: 20px;
}
.zoom-1{
    transform: scale(1.2);
}
.zoom-2{
    transform: scale(1.4);
}
.zoom-3{
    transform: scale(1.6);
}
.zoom-4{
    transform: scale(1.8);
}
.zoom-5{
    transform: scale(2.0);
}